---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---



        

					 <section  tabindex="6" id="latestPosts" class="container container-lg-fluid p-4 mb-4 rounded border-1">
            <h3 class="fs-3  fw-bold px-5 text-uppercase rounded-end">Latest Posts</h3>
            <div class="d-flex flex-column justify-content-around flex-wrap">
						<p>Hello! On my first 11ty based blog!</p>
						<p>During the BootCamp of Web Developing with "The Coders Guild" we learn a lot of new features. Eleventy is one of them!</p>



{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
						</div>
					</section>

