<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		{% include "../layouts/head.njk" %}
	</head>
	<body class="bg-dark">
		 <div class="container-lg p-0" id="wrapper">
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		{% include "../layouts/header.njk" %}


		<main id="skip">
			{{ content | safe }}
		</main>



		{% include "../layouts/footer.njk" %}

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
		</div>
	</body>
</html>
